@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* border-box 초기화 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 레이아웃 */
body {
  overflow-x: hidden;
}

body.hidden {
  position: fixed;
  overflow-y: hidden;
  touch-action: none;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* 버튼 초기화 */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

/* 스킵메뉴 */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

/* 폰트 초기화 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1rem;
  color: #333;
}

.web-center {
  max-width: 150rem;
  margin: 0 auto;
}

.padInline, .project {
  padding-inline: 3rem;
}

main {
  margin-top: 8rem;
}

.about {
  height: 100vh;
  background: #675D50;
}

.project {
  height: 80rem;
  padding-block: 13rem;
}
.project > div {
  height: 100%;
  display: flex;
  gap: 6rem;
  perspective: 1500px;
  align-items: center;
}
.project_info {
  flex: 1;
  padding: 3rem;
}
.project_info .title {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 4rem;
}
.project_info .description {
  padding-bottom: 3rem;
}
.project_info .description p {
  font-size: 2rem;
  line-height: 1.5em;
}
.project_info span {
  font-size: 1.6rem;
  display: block;
}
.project_info span:not(:last-child) {
  margin-bottom: 1rem;
}
.project_info .link-btns {
  display: flex;
  align-items: center;
}
.project_info .link-btns a {
  width: 10rem;
  height: 6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: 0.4s;
}
.project_info .link-btns a:hover {
  font-size: 1.8rem;
}
.project_info .link-btns .site-link {
  background-color: #00224D;
  color: #fff;
  border-radius: 1rem 0 0 1rem;
  transition: 0.4s;
}
.project_info .link-btns .site-link:hover {
  background-color: #463337;
}
.project_info .link-btns .site-link:hover::after {
  background-color: #463337;
}
.project_info .link-btns .site-link::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background-color: #00224D;
  transition: 0.4s;
}
.project_info .link-btns .site-link::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #463337;
}
.project_info .link-btns .code-link {
  background-color: #DDF482;
  color: #333;
  border-radius: 0 1rem 1rem 0;
  transition: 0.4s;
}
.project_info .link-btns .code-link:hover {
  background-color: #B2BAFE;
}
.project_info .link-btns .code-link::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #B2BAFE;
}

.intro {
  height: 100vh;
  position: relative;
}
.intro .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: inherit;
  position: absolute;
  inset: 0;
}
.intro .chat {
  width: 60%;
  padding: 7rem 3rem;
  border-radius: 4rem;
  background-color: #fff;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
}
.intro .chat-top h2 {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}
.intro .chat-top h2 span {
  opacity: 0;
  animation: showText 1s ease-in-out forwards;
}
.intro .chat-top h2 span:nth-child(1) {
  animation-delay: 0.1s;
}
.intro .chat-top h2 span:nth-child(2) {
  animation-delay: 0.2s;
}
.intro .chat-top h2 span:nth-child(3) {
  animation-delay: 0.3s;
}
.intro .chat-top h2 span:nth-child(4) {
  animation-delay: 0.4s;
}
.intro .chat-top h2 span:nth-child(5) {
  animation-delay: 0.5s;
}
.intro .chat-top h2 span:nth-child(6) {
  animation-delay: 0.6s;
}
.intro .chat-top h2 span:nth-child(7) {
  animation-delay: 0.7s;
}
.intro .chat-top h2 span:nth-child(8) {
  animation-delay: 0.8s;
}
.intro .chat-top h2 span:nth-child(9) {
  animation-delay: 0.9s;
}
.intro .chat-top h2 span:nth-child(10) {
  animation-delay: 1s;
}
.intro .chat-bottom {
  padding-inline: 2rem;
}
.intro .chat-bottom-el {
  text-align: left;
  display: none;
  transform: translateX(0);
}
.intro .chat-bottom-el:nth-child(2n-1) {
  text-align: right;
}
.intro .chat-profile {
  border: 0.2rem solid #000;
  width: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.intro .chat-profile.self {
  margin-inline: auto 0;
}
.intro .chat-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro .speak {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  padding: 2rem 3rem;
  display: inline-block;
  color: #000;
  border-radius: 4rem;
}
.intro .speak.a {
  background-color: #DDF482;
  color: #333;
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.intro .speak.q {
  background-color: #00224D;
  color: #fff;
}
.intro .chat:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  filter: blur(3rem);
  z-index: -1;
}
.intro .name-wrap {
  width: 60vw;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-49%, -50%);
}
.intro .name-wrap > div {
  font-size: 5vw;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.intro .name-wrap > span {
  position: absolute;
  background-color: #000;
}
.intro .name-wrap > span:nth-of-type(2n-1) {
  width: 0.1rem;
  height: 0;
}
.intro .name-wrap > span:nth-of-type(2n) {
  width: 0;
  height: 0.1rem;
}
.intro .name-wrap .l1 {
  bottom: 0;
  left: 0;
}
.intro .name-wrap .l2 {
  left: 0;
  top: 0;
}
.intro .name-wrap .l3 {
  right: 0;
  top: 0;
}
.intro .name-wrap .l4 {
  right: 0;
  bottom: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes l1 {
  100% {
    height: 100%;
  }
}
@keyframes l2 {
  100% {
    width: 100%;
  }
}
@keyframes l3 {
  100% {
    height: 100%;
  }
}
@keyframes l4 {
  100% {
    width: 100%;
  }
}
.card {
  flex: 1;
  height: 70%;
  border-radius: 1rem;
  background-color: #eee;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  animation: card 1s linear forwards;
}
.card > div {
  position: absolute;
  inset: 0;
}

@keyframes card {
  100% {
    transform: rotateY(180deg);
  }
}
.front .project-logo {
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.front .project-logo img {
  width: 100%;
  object-fit: cover;
}
.front .num {
  font-size: 15rem;
  font-weight: 700;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  color: #fff;
  transform: translateZ(200px);
}

.back {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
}
.back:hover img {
  object-position: bottom;
  transition: 5s;
}
.back img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

@keyframes slideDown {
  100% {
    object-position: bottom;
  }
}
.skill-badges {
  padding-block: 1rem 3rem;
}
.skill-badges em {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding-inline: 1em;
  line-height: 1.6em;
  border-radius: 1.6rem;
}
.skill-badges em.html {
  background-color: #F67415;
}
.skill-badges em.css {
  background-color: #30A9DC;
}
.skill-badges em.scss {
  background-color: #E189B1;
}
.skill-badges em.js {
  background-color: #F1BF26;
}
.skill-badges em.swiper {
  background-color: #0080FF;
}

.bg-lines {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.bg-lines .ver-wrap {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.bg-lines .ver-wrap .line {
  height: 0;
  opacity: 0;
  border-right: 0.1rem solid #675D50;
  animation: ver-line 0.5s ease-in forwards;
}
.bg-lines .hor-wrap {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.bg-lines .hor-wrap .line {
  width: 0;
  border-bottom: 0.1rem solid #675D50;
  animation: hor-line 1s ease-in forwards;
}

@keyframes ver-line {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100vh;
  }
}
@keyframes hor-line {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
header {
  opacity: 0;
  width: 100%;
  height: 8rem;
  background-color: #675D50;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
  padding-inline: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  border: 0.2rem solid #fff;
  width: 9rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}
header .logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 0.2rem;
}
header nav ul {
  display: flex;
  gap: 5rem;
}
header nav ul a {
  font-size: 1.8rem;
}

/*# sourceMappingURL=index.css.map */
