@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* border-box 초기화 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 레이아웃 */
body {
  overflow-x: hidden;
}

body.hidden {
  position: fixed;
  overflow-y: hidden;
  touch-action: none;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* 버튼 초기화 */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

/* 스킵메뉴 */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

@keyframes bgAni {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
/* 폰트 초기화 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1rem;
  color: #333;
}

.section-title {
  font-size: clamp(4rem, 6vw, 6rem);
  font-weight: 700;
  letter-spacing: 2px;
  color: #DDF482;
  position: absolute;
  top: 0;
  left: 2rem;
  z-index: 999;
  transform: rotate(-90deg) translate(-100%, 50%);
  transform-origin: left;
}

@supports (writing-mode: sideways-lr) {
  .section-title {
    writing-mode: sideways-lr;
    -webkit-writing-mode: sideways-lr;
    transform: none;
  }
}
:is(#about, #contact) .section-title {
  top: 10rem;
}

@media (max-width: 1400px) {
  .pc-br {
    display: none;
  }
}

.web-center {
  max-width: 145rem;
  width: 96%;
  margin: 0 auto;
}

.padInline, #about,
#contact, #projects {
  padding-inline: 10rem;
}

html {
  scroll-behavior: smooth;
}

#about,
#contact {
  position: relative;
  z-index: 99;
}
#about > div,
#contact > div {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}
@media (max-width: 1400px) {
  #about > div,
  #contact > div {
    grid-template-columns: 1fr;
  }
}

#contact {
  z-index: -1;
}

#about > div .about_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1400px) {
  #about > div .about_left {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 1080px) {
  #about > div .about_left {
    flex-direction: column;
  }
}
#about > div .about_left .about_top {
  display: flex;
  align-items: center;
  gap: 6rem;
}
@media (max-width: 1400px) {
  #about > div .about_left .about_top {
    flex-direction: column;
    gap: 3rem;
  }
}
#about > div .about_left .profile-img {
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.5rem solid #000;
  overflow: hidden;
}
@media (max-width: 1400px) {
  #about > div .about_left .profile-info {
    text-align: center;
  }
}
#about > div .about_left .profile-info .name {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
  letter-spacing: 2px;
}
@media (max-width: 1400px) {
  #about > div .about_left .profile-info .name {
    padding-bottom: 1rem;
  }
}
#about > div .about_left .profile-info .birth {
  font-size: 2rem;
}
#about > div .about_left .profile-info .personality {
  margin-top: 1rem;
}
#about > div .about_left .profile-info .personality li {
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}
#about > div .about_left .profile-info .personality li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  border-radius: 10rem;
  background-color: rgba(221, 244, 130, 0.5);
  z-index: -1;
}
#about > div .about_left .attitude {
  font-size: 2rem;
  margin-top: 8rem;
  overflow: hidden;
}
#about > div .about_left .attitude p {
  line-height: 3rem;
  margin-bottom: 2rem;
  opacity: 0;
}
#about > div .about_left .attitude p.active {
  opacity: 1;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 450%;
  animation: bgAni 3s ease forwards;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about > div .about_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about > div .about_right .qualifications h3 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}
#about > div .about_right .qualifications .date {
  margin-right: 1rem;
}
#about > div .about_right .qualifications ul:not(:last-of-type) {
  padding-bottom: 4rem;
}
#about > div .about_right .qualifications ul li {
  font-size: 1.8rem;
  line-height: 3rem;
}
#about > div .about_right .qualifications .skills {
  display: flex;
  gap: 2rem;
}
#about > div .about_right .qualifications .skills li {
  width: 7rem;
  aspect-ratio: 1;
}
#about > div .about_right .qualifications .skills li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#projects {
  position: relative;
}
#projects > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  perspective: 1500px;
}
@media (max-width: 1400px) {
  #projects > div {
    grid-template-columns: 1fr;
  }
}
#projects [class*=piece] {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects [class*=piece] .content-wrap {
  width: 100%;
}
#projects .web-image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 1rem;
  background-color: #eee;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  align-self: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1400px) {
  #projects .web-image {
    height: 35vw;
  }
}
#projects .web-image:hover img {
  object-position: bottom;
  transition: 5s;
}
#projects .web-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#projects .project_info {
  margin-top: 4rem;
  padding-inline: 2rem;
}
#projects .project_info .title {
  font-size: 3.2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
#projects .project_info .description {
  padding-bottom: 2rem;
}
#projects .project_info .description p {
  font-size: 2rem;
  line-height: 1.5em;
}
#projects .project_info span {
  font-size: 1.8rem;
  display: block;
  line-height: 2.5rem;
}
#projects .go-links {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
#projects .go-links .link-border {
  background-color: #675D50;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
#projects .go-links .link-border:hover {
  background: linear-gradient(45deg, #675D50 20%, #ABF54F 40%, #00224D 60%, #675D50 90%);
  background-size: 400%;
  animation: bgAni 0.7s linear forwards;
}
#projects .go-links .link-border:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  border-radius: 0.8rem;
  background-color: #fff;
  z-index: 0;
}
#projects .go-links a {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #675D50;
  position: relative;
  z-index: 2;
  border-radius: 1rem;
}
#projects .go-links a:hover {
  background: linear-gradient(45deg, #675D50 20%, #ABF54F 40%, #00224D 60%, #675D50 90%);
  background-size: 400%;
  animation: bgAni 0.7s linear forwards;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#projects .go-links i {
  margin-left: 0.5rem;
  text-shadow: 0.05rem 0.05rem 0 #675D50;
}

:root {
  --mark-width: 20rem;
  --mark-width-half: calc(var(--mark-width)/2);
}
@media (max-width: 1080px) {
  :root {
    --mark-width: 17rem;
  }
}

#contact {
  position: relative;
}
#contact .piece_9 {
  position: relative;
  perspective: 900px;
}
#contact .question-container {
  width: 100%;
  height: 30rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  transform: rotateY(0) rotateX(45deg);
  animation: spin 5s linear infinite;
}
#contact .question-mark {
  width: var(--mark-width);
  aspect-ratio: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(15rem, 3vw, 20rem);
  font-family: "Rubik", sans-serif;
  color: #675D50;
  transform-style: preserve-3d;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
#contact .question-mark:nth-child(1) {
  box-shadow: inset 0 0 7rem #00224D;
  transform: rotateY(0) translate3d(0, 0, var(--mark-width-half));
}
#contact .question-mark:nth-child(2) {
  box-shadow: inset 0 0 7rem #DDF482;
  transform-origin: left;
  transform: rotateY(-90deg) translate3d(calc(-1 * var(--mark-width-half)), 0, 0);
}
#contact .question-mark:nth-child(3) {
  box-shadow: inset 0 0 7rem #DDF482;
  transform-origin: right;
  transform: rotateY(90deg) translate3d(var(--mark-width-half), 0, 0);
}
#contact .question-mark:nth-child(4) {
  box-shadow: inset 0 0 7rem #00224D;
  transform-origin: right;
  transform: rotateY(180deg) translate3d(var(--mark-width), 0, var(--mark-width-half));
}
#contact .request-container {
  overflow: hidden;
}
#contact .request {
  font-family: "Rubik", sans-serif;
  font-size: clamp(2rem, 2.4vw, 3.6rem);
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  color: #675D50;
}
@media (max-width: 1400px) {
  #contact .request {
    font-size: clamp(2rem, 3vw, 4rem);
  }
}
#contact .request .large {
  font-size: clamp(2.4rem, 2.6vw, 5rem);
  font-weight: 600;
}
@media (max-width: 1400px) {
  #contact .request .large {
    font-size: clamp(2rem, 3.8vw, 4.6rem);
  }
}
#contact .piece_10 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #675D50;
}
#contact .piece_10 p {
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 3rem;
}
#contact .piece_10 p,
#contact .piece_10 .contact-me {
  font-size: clamp(1.8rem, 1.7vw, 2.4rem);
}
#contact .piece_10 .contact-email {
  margin-top: 7rem;
}
#contact .piece_10 .contact-email .contact-me {
  display: block;
  margin-bottom: 1rem;
}
#contact .piece_10 .contact-email a {
  font-size: clamp(2.4rem, 2vw, 3rem);
  font-weight: 600;
  opacity: 0.6;
  transition: 0.35s;
}
#contact .piece_10 .contact-email a:hover {
  opacity: 1;
}
#contact .piece_10 .contact-email a:hover i {
  padding-left: 2rem;
}
#contact .piece_10 .contact-email i {
  font-size: clamp(1.8rem, 1.2vw, 2.6rem);
  text-shadow: 0.1rem 0 0 #675D50;
  padding-left: 1rem;
  transition: 0.35s;
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
footer {
  height: 12rem;
  background-color: #675D50;
}
footer div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div p {
  font-size: clamp(1.5rem, 1vw, 1.8rem);
  color: rgba(255, 255, 255, 0.7);
}

.intro {
  height: 100vh;
  position: relative;
  background: #675D50;
}
.intro .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: inherit;
  position: absolute;
  inset: 0;
}
.intro .chat {
  width: 60%;
  padding: 7rem 3rem;
  border-radius: 4rem;
  background-color: #fff;
  background-image: radial-gradient(80% 100% at 110% 60%, #00224D 10%, rgba(255, 255, 255, 0.3)), radial-gradient(40% 71% at -15% 70%, #DDF482 20%, transparent);
  background-size: 200%;
  background-position: 0 0;
  position: fixed;
  z-index: 100;
}
.intro .chat-top h2 {
  font-size: clamp(2.6rem, 2.8vw, 3.2rem);
  font-weight: 500;
  text-align: center;
}
.intro .chat-top h2 span {
  opacity: 0;
  animation: showText 1s ease-in-out forwards;
}
.intro .chat-top h2 span:nth-child(1) {
  animation-delay: 0.1s;
}
.intro .chat-top h2 span:nth-child(2) {
  animation-delay: 0.2s;
}
.intro .chat-top h2 span:nth-child(3) {
  animation-delay: 0.3s;
}
.intro .chat-top h2 span:nth-child(4) {
  animation-delay: 0.4s;
}
.intro .chat-top h2 span:nth-child(5) {
  animation-delay: 0.5s;
}
.intro .chat-top h2 span:nth-child(6) {
  animation-delay: 0.6s;
}
.intro .chat-top h2 span:nth-child(7) {
  animation-delay: 0.7s;
}
.intro .chat-top h2 span:nth-child(8) {
  animation-delay: 0.8s;
}
.intro .chat-top h2 span:nth-child(9) {
  animation-delay: 0.9s;
}
.intro .chat-top h2 span:nth-child(10) {
  animation-delay: 1s;
}
.intro .chat-bottom {
  padding-inline: 2rem;
}
.intro .chat-bottom-el {
  text-align: left;
  height: 0;
  opacity: 0;
  transform: translateX(-5rem);
  animation: height 0.1s ease-in forwards, chatEl 0.4s ease-in forwards;
}
.intro .chat-bottom-el.first {
  animation-delay: 1.7s;
}
.intro .chat-bottom-el:nth-child(2) {
  animation-delay: 2.5s;
}
.intro .chat-bottom-el:nth-child(3) {
  animation-delay: 3.5s;
}
.intro .chat-bottom-el:nth-child(2n-1) {
  text-align: right;
  transform: translateX(5rem);
}
.intro .chat-profile {
  border: 0.2rem solid #000;
  width: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.intro .chat-profile.self {
  margin-inline: auto 0;
}
.intro .chat-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro .speak {
  font-size: clamp(1.8rem, 1.6vw, 2rem);
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  padding: 2rem 3rem;
  display: inline-block;
  color: #000;
  border-radius: 4rem;
}
.intro .speak.a {
  background-color: #DDF482;
  color: #333;
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.intro .speak.q {
  background-color: #00224D;
  color: #fff;
}
.intro .name-wrap {
  width: 60vw;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-49%, -50%);
}
.intro .name-wrap > div {
  font-size: 5vw;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff;
}
.intro .name-wrap > span {
  position: absolute;
  background-color: #fff;
}
.intro .name-wrap > span:nth-of-type(2n-1) {
  width: 0.1rem;
  height: 0;
}
.intro .name-wrap > span:nth-of-type(2n) {
  width: 0;
  height: 0.1rem;
}
.intro .name-wrap .l1 {
  bottom: 0;
  left: 0;
}
.intro .name-wrap .l2 {
  left: 0;
  top: 0;
}
.intro .name-wrap .l3 {
  right: 0;
  top: 0;
}
.intro .name-wrap .l4 {
  right: 0;
  bottom: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes chatEl {
  100% {
    opacity: 1;
    transform: translateX(0);
    margin-top: 1rem;
  }
}
@keyframes height {
  100% {
    height: auto;
  }
}
.skill-badges {
  padding-block: 0 2rem;
}
.skill-badges em {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding-inline: 1em;
  line-height: 1.6em;
  border-radius: 1.6rem;
}
.skill-badges em.html {
  background-color: #F67415;
}
.skill-badges em.css {
  background-color: #30A9DC;
}
.skill-badges em.scss {
  background-color: #E189B1;
}
.skill-badges em.js {
  background-color: #F1BF26;
}
.skill-badges em.jquery {
  background-color: #0769AD;
}
.skill-badges em.swiper {
  background-color: #0080FF;
}
.skill-badges em.bxslider {
  background-color: #FF1653;
}
.skill-badges em.gsap {
  background-color: #01E447;
}

.bg-lines {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.bg-lines .ver-wrap {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.bg-lines .ver-wrap .line {
  height: 0;
  opacity: 0;
  border-right: 0.1rem solid #fff;
  animation: ver-line 0.5s ease-in forwards;
}
.bg-lines .hor-wrap {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.bg-lines .hor-wrap .line {
  width: 0;
  border-bottom: 0.1rem solid #fff;
  animation: hor-line 1s ease-in forwards;
}

@keyframes ver-line {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100vh;
  }
}
@keyframes hor-line {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
header {
  opacity: 0;
  width: 100%;
  height: 8rem;
  background-color: #675D50;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
  padding-inline: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1080px) {
  header {
    padding-inline: 2rem;
  }
}
header .logo {
  border: 0.2rem solid #fff;
  width: 9rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}
@media (max-width: 1080px) {
  header .logo {
    transform: scale(0.9);
  }
}
header .logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 0.2rem;
}
header nav ul {
  display: flex;
  gap: 7rem;
}
header nav ul a {
  font-size: 2.2rem;
}
@media (max-width: 1080px) {
  header nav ul {
    gap: 4rem;
  }
  header nav ul a {
    font-size: 2rem;
  }
}

.scroll-indicator {
  width: 100%;
  height: 10rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.scroll-indicator span {
  display: inline-block;
  width: 1.5rem;
  height: 0.7rem;
  background-color: #fff;
  opacity: 0;
}
.scroll-indicator .arrow-l {
  transform: translateX(50%) skewY(35deg);
  animation: indicator-l 1s ease-in-out infinite 5s;
}
.scroll-indicator .arrow-r {
  transform: translateX(50%) skewY(-35deg);
  animation: indicator-r 1s ease-in-out infinite 5s;
}

@keyframes indicator-l {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(50%) skewY(35deg) translateY(200%);
  }
}
@keyframes indicator-r {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(50%) skewY(-35deg) translateY(200%);
  }
}
.puzzle {
  padding-block: 20rem 10rem;
  background: linear-gradient(to bottom, #fff, #675D50 25%);
  perspective: 900px;
}
@media (max-width: 1400px) {
  .puzzle {
    background: linear-gradient(to bottom, #fff, #675D50 10%);
  }
}

[class*=piece] {
  position: relative;
  min-height: 50rem;
  padding: 17% 13%;
  background-color: #fff;
  opacity: 0;
}
@media (max-width: 1400px) {
  [class*=piece] {
    padding: 12% 10%;
  }
}

.piece_1,
.piece_9 {
  box-shadow: 0.2rem 0 0.3rem #675D50, inset 0 -0.2rem 0.3rem #675D50;
  z-index: 20;
}
@media (max-width: 1400px) {
  .piece_1,
  .piece_9 {
    border-radius: 10rem 10rem 0 0;
  }
}
.piece_1::before,
.piece_9::before {
  content: "";
  width: 25%;
  aspect-ratio: 1;
  border-right: 1rem solid #675D50;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}
@media (max-width: 1400px) {
  .piece_1::before,
  .piece_9::before {
    width: 17%;
    right: 50%;
    top: 100%;
    border-right: none;
    border-bottom: 1rem solid #675D50;
  }
}

.piece_1 {
  border-radius: 10rem 0 0 0;
}
@media (max-width: 1400px) {
  .piece_1 {
    border-radius: 10rem 10rem 0 0;
  }
}

.piece_2 {
  border-radius: 0 10rem 0 0;
  box-shadow: inset 0 -0.2rem 0.3rem #675D50;
}
@media (max-width: 1400px) {
  .piece_2 {
    border-radius: 0;
  }
}
.piece_2::before {
  content: "";
  width: 20%;
  aspect-ratio: 1;
  border-bottom: 1rem solid #675D50;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translate(50%, -50%);
}
@media (max-width: 1400px) {
  .piece_2::before {
    width: 17%;
  }
}

#projects [class*=piece]:nth-child(2n-1) {
  box-shadow: 0.2rem 0 0.3rem #675D50, inset 0 -0.2rem 0.3rem #675D50;
  z-index: 20;
}
#projects [class*=piece]:nth-child(2n-1):not(:nth-child(1))::before {
  content: "";
  width: 25%;
  aspect-ratio: 1;
  border-top: 1rem solid #675D50;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 50%;
  top: 0;
  transform: translate(50%, -50%);
  z-index: 1;
}
@media (max-width: 1400px) {
  #projects [class*=piece]:nth-child(2n-1):not(:nth-child(1))::before {
    width: 17%;
  }
}
#projects [class*=piece]:nth-child(2n-1)::after {
  content: "";
  width: 23%;
  aspect-ratio: 1;
  border-right: 1rem solid #675D50;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -30%);
  z-index: 1;
}
@media (max-width: 1400px) {
  #projects [class*=piece]:nth-child(2n-1)::after {
    width: 17%;
    right: 50%;
    top: 100%;
    transform: translate(50%, -50%);
    border-right: none;
    border-bottom: 1rem solid #675D50;
  }
}
#projects [class*=piece]:nth-child(2n) {
  box-shadow: inset 0 -0.2rem 0.3rem #675D50;
}
#projects [class*=piece]:nth-child(2n)::before {
  content: "";
  width: 25%;
  aspect-ratio: 1;
  border-bottom: 1rem solid #675D50;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translate(50%, -50%);
  z-index: 1;
}
@media (max-width: 1400px) {
  #projects [class*=piece]:nth-child(2n)::before {
    display: none;
  }
}
#projects .piece_7 {
  box-shadow: inset 0 0.3rem 0.5rem #675D50;
}

#contact [class^=piece] {
  min-height: 70rem;
}
#contact .piece_9 {
  border-radius: 0 0 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1400px) {
  #contact .piece_9 {
    border-radius: 0;
  }
}
#contact .piece_10 {
  border-radius: 0 0 10rem 0;
  box-shadow: inset 0 -0.2rem 0.3rem #675D50;
}
@media (max-width: 1400px) {
  #contact .piece_10 {
    border-radius: 0 0 10rem 10rem;
  }
}

.utility {
  position: fixed;
  bottom: 6rem;
  right: 1.5rem;
  z-index: 9999;
}
.utility a {
  display: block;
  width: clamp(8rem, 9vw, 9rem);
  padding: 1.5rem 1rem;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}
.utility a::before {
  content: "";
  width: 22%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  background-color: inherit;
}
.utility a.link_github {
  border-radius: 1rem 1rem 0 0;
  background-color: #DDF482;
}
.utility a.link_github::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 9;
}
.utility a.link_github .link-content::before {
  background: url(../../images/icon-github.svg) no-repeat center/4rem auto;
}
.utility a.link_github .link-content::after {
  color: #000;
}
.utility a.link_email {
  border-radius: 0 0 1rem 1rem;
  background-color: #00224D;
}
.utility a.link_email::before {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.utility a.link_email .link-content::before {
  background: url(../../images/icon-mail.svg) no-repeat center/4rem auto;
}
.utility a .link-content {
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
}
.utility a .link-content::before, .utility a .link-content::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.utility a .link-content::before {
  content: "";
  left: 0;
}
.utility a .link-content::after {
  content: attr(data-content);
  left: 100%;
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.utility a:hover .link-content::before {
  left: -100%;
}
.utility a:hover .link-content::after {
  left: 0;
}

/*# sourceMappingURL=index.css.map */
