@use "../abstracts/" as *;

.web-center{
  max-width: $webSize;
  width: 96%;
  margin: 0 auto;
}

.padInline{
  padding-inline: 10rem;
  @include screenWidth($tablet_s){
    padding-inline: 2rem;
  }
}