@use "../abstracts/" as *;

.skill-badges{
  padding-block: 0 2rem;
  $skills: (
    html: #F67415,
    css: #30A9DC,
    scss: #E189B1,
    js: #F1BF26,
    jquery: #0769AD,
    swiper: #0080FF,
    bxslider: #FF1653,
    gsap: #01E447,
  );
  em{
    @each $skill, $color in $skills{
      &.#{$skill}{
        background-color: #{$color};
      }
    }
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding-inline: 1em;
    line-height: 1.6em;
    border-radius: 1.6rem;
    @include screenWidth($tablet){
      margin-bottom: 1rem;
    }
  }
}