@use "../abstracts/" as *;
@use "../layout/" as *;

header {
  opacity: 0;
  width: 100%;
  height: 8rem;
  background-color: $color_18;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
  padding-inline: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include screenWidth($tablet) {
    padding-inline: 2rem;
  }
  .logo {
    border: 0.2rem solid #fff;
    width: 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    @include screenWidth($tablet) {
      transform: scale(0.9);
    }
    span {
      @include flexCenter;
      width: 100%;
      padding-block: 0.2rem;
    }
  }
  nav ul {
    display: flex;
    gap: 7rem;
    a {
      font-size: 2.2rem;
    }
    @include screenWidth($tablet) {
      gap: 4rem;
      a {
        font-size: 2rem;
      }
    }
  }
}
