@use "../abstracts/" as *;

.puzzle{
  // border: 1px solid #000;
  padding-block: 20rem 10rem;
  background: linear-gradient(to bottom, #fff, $color_18 25%);
  // margin-top: -10%;
}
[class*="piece"] {
  // border: 1px solid #000;
  position: relative;
  padding: 3rem 5rem;
  background-color: #fff;
}
.piece_1{
  box-shadow: 0.2rem 0 0.3rem $color_18;
  z-index: 10;
  border-radius: 10rem 0 0 0;
  // border: 5px solid $color_8;
  &::before{
    content: '';
    width: 25%;
    aspect-ratio: 1;
    border-right: 1rem solid $color_18;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
  }
}
.piece_2{
  border-radius: 0 10rem 0 0;
  &::before{
    content: '';
    width: 20%;
    aspect-ratio: 1;
    border-bottom: 1rem solid $color_18;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translate(50%, -50%);
  }
}
.piece_4{
  // opacity: 0;
}
#project{
  [class*="piece"]:nth-child(2n-1){
    border-right: 2px solid $color_18;
    border-top: 2px solid $color_18;
    &:not(:nth-child(1)){
      &::before{
        content: '';
        width: 25%;
        aspect-ratio: 1;
        border-top: 1rem solid $color_18;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        right: 50%;
        top: 0;
        transform: translate(50%, -50%);
        z-index: 1;
      }
    }
    &::after{
      content: '';
      width: 23%;
      aspect-ratio: 1;
      border-right: 1rem solid $color_18;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -30%);
      z-index: 1;
    }
  }
  [class*="piece"]:nth-child(2n){
    border-top: 2px solid $color_18;
    &::before{
      content: '';
      width: 25%;
      aspect-ratio: 1;
      border-bottom: 1rem solid $color_18;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      right: 50%;
      top: 100%;
      transform: translate(50%, -50%);
      z-index: 1;
    }
  }
}