$webSize: 150rem;
$radius_4: 4rem;

// ============ colors ===========
$color1: #7F87FA;
$color2: #0BBF89;

$color4: #ABF54F;
$color5: #37489B;
$color6: #BCDF56;
$color7: #D12907;
$color8: #FFFED5;
$color9: #6D37FF;
$color_10: #BFD835;



$color_14: #4D90BE;

$color_16: #7F7FD0;

$color_15: #BAE6E3;
$color_13: #F00601;
$gray01: #DFE0E2;
$gray02: #D1D2D7;
$gray03: #D1D1D9;
$gray04: #A8A5B1;
$gray05: #DFE0E2;
$gray06: #DFE0E2;
$color_11: #B2BAFE;
$color_20: #463337;
$color_18: #675D50;
$color_12: #00224D;
$color3: #DDF482;
$color_17: #FC73B4;
$color_19: #FF5A00;

