$webSize: 180rem;
$radius_4: 4rem;

// responsive screen width
$laptop: 1400px;
$tablet: 1080px;
$tablet_s: 680px;

// ============ colors ===========
$color_18: #675D50;
$color_12: #00224D;
$color_3: #DDF482;
$color_4: #ABF54F;

$gradient_1: linear-gradient(45deg, $color_18 20%, $color_4 40%, $color_12 60%, $color_18 90%);
$gradient_2: conic-gradient(rgba($color_12, 0.5) 7%, #fff 20%, rgba($color_3, 0.7) 50%, #fff 70%, rgba($color_12, 0.5) 90%);
$gradient_3: linear-gradient(to right, #000 50%, #fff 50%);